<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GymFlow</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid d-flex justify-content-center align-items-center login-container">
            <div class="login-menu d-flex flex-column justify-content-center align-items-center p-4 p-md-5 me-lg-5">
                <h1 class="p-5">GymFlow</h1>
                <a routerLink="/login" class="btn m-2 m-md-3">Log in</a>
                <a routerLink="/register" class="btn m-2 m-md-3">Register</a>
                <a routerLink="/home" class="btn m-2 m-md-3">Guest</a>
                <a href="#">Forgot password?</a>
            </div>
        </div>
    </body>
</html>