.main-content {
    margin-left: clamp(300px, 20vw, 450px); /*This has to match the width of the sidebar*/
    padding-bottom: 50px;
    min-height: 100vh;
    height: 100%;
    background:
    linear-gradient(rgba(1,168,188,0.75), rgba(1,168,188,0.75)),
    url("/assets/images/bg-gym.jpg") center / cover no-repeat;
}


@media (max-width: 991px) {
    .main-content {
        margin: auto auto auto auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}