<div class="container">
<h2 class="text-center pt-5">Muscle Groups</h2> 
    <form class="d-flex w-100 justify-content-center">
        <input class="m-2 p-2 search-bar" type="search" placeholder="Search Exercises" aria-label="Search"/>
    </form>

    <div class="cards d-flex flex-wrap align-items-center justify-content-center">             
        @for (group of muscleGroups; track group) {
            <app-card [title]="group" [image]="'/assets/images/back.jpg'" (cardClick)="goToExercises(group)"></app-card>
        }
    </div>
</div>