<div class="container">
        <div class="d-flex align-items-center justify-content-center p-5 g-3">
            <a routerLink="/home" class="btn btn-sm mx-3">&#8592;</a>
            <h2>Exercises</h2>
        </div>
       
        <div class="cards d-flex flex-wrap align-items-center justify-content-center">
        @if(loading) {
            <div class="text-light">Loading...</div>
        }
        @if(!loading) {
            @for (exercise of exercises; track exercise.id) {
                <app-card [title]="exercise.name" [image]="exercise.image" (cardClick)="openExerciseModal(exercise)"></app-card>
            }  
        }
        </div>
</div>